* {
 margin: 0;
 box-sizing: border-box;
}
body {
background: url("https://cdn.imgchest.com/files/pyvdcd6loyk.png"); 
opacity: .5;
background-repeat: no-repeat;
}
.container {
max-width: 1400px;
display: flex;
gap: 20px;
flex-wrap: wrap;
}
.container > * {
background-color: lightblue;
font-size: 10rem;
 color: blue;
 border: 2px dashed blue;
 flex-shrink: 0;
 flex-grow: 1;
 height: 198px;
}


 .box1{
flex-basis: 450px;
}

.box2{
    flex-basis: 50px;
}

.box3{
flex-basis: 1400px;
}

.box4{
    flex-basis: 35px;
    }

.box5{
    flex-basis: 50px;
}

.box6{
    flex-basis: 650px;
}