z* {
    margin: 0;
    box-sizing: border-box;

}
body {
    margin: 0;
    background-image: url(https://cdn.imgchest.com/files/my8xckdzm4l.png);
    background-repeat: no-repeat;
    max-width: 988px;
    min-height: 1026px;
    font-size: 2rem;
    opacity: .5;
    color: blue;
    
}
ul{

    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    padding-top: 41px;
    margin-top: 41px;
    padding-left: 16px;
    gap: 21.5px;
    }

.container > * {
    border: 2px dashed blue; 
}

.container{
    display: grid;
    grid-template-rows: minmax(135px, auto) minmax(270px, auto) minmax(126.6px, auto) minmax(328.2px, auto) minmax(165.8px, auto); 
    grid-template-columns: minmax(20px,91px) minmax(20px, 401px) minmax(20px, 223px) minmax(20px, 268px);
    grid-template-areas:
    "one two two two"
    "three three three three"
    "four four four four"
    "five five six seven"
    "eight eight eight eight"
    ;
}

@media (max-width: 500px) {
    .container {
        grid-template-columns: 100%;
        grid-template-areas:
        "one"
        "two"
        "three"
        "four"
        "five"
        "six"
        "seven"
        "eight";
    }
}

    .box1 {
    grid-area: one; 
    }
 
.box1 img{
  max-width: 100%;
  height: 120px;
  display: flex;
}

    .box2 {
    grid-area: three;
    background-image: url('http://act.sot.kg/img/acts.jpg');
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 150px;
    background-blend-mode: multiply;
    background-color: grey; 
    }
    .box3 {
    grid-area: four;
    }
    .box4 {
    grid-area: five;
    }
    .box5 {
    grid-area: eight;
    }
    .box6 {
    grid-area: two;
    }
    .box7 {
        grid-area: six;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }
    .box7 .fa.fa-user.fa-fw {
        color: #e5bc3d;
        font-size: 150px; 
    }
    
    .box7 h2 {
        font-size: 25px; 
        text-align: center;
        color: black;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-family: inherit;
    }
    
    .box7 h3 {
        font-size: 15px; 
        text-align: center;
        color: black;
        font-family: roboto;
        font-family: inherit;
    }

    .box8{
        grid-area:seven;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }

    
    .box8 .fa.fa-suitcase {
        color: #e5bc3d;
        font-size: 150px;
    }
    
    .box8 h2 {
        font-size: 25px;
        text-align: center;
        color: black;
        font-family: inherit;
        
    }
    
    .box8 h3 {
        font-size: 15px;
        text-align: center;
        color: black;
        font-family: inherit;
    }
    