* {
    margin: 0;
    box-sizing: border-box;

}
body {
    background-image: url(https://cdn.imgchest.com/files/my8xckdzm4l.png);
    background-repeat: no-repeat;
    max-width: 988px;
    min-height: 1026px;
    font-size: 2rem;
    opacity: .5;
    color: blue;
}
.container > * {
    border: 2px dashed blue; 
}

.container{
    display: grid;
    grid-template-rows: 134px 270px 127px 330px 164px;
    grid-template-areas:
    "one two two"
    "three three three"
    "four four four"
    "five six seven"
    "eight eight eight"
    ;
    grid-template-columns: 90px 844px 50px;
    
}

    .box1 {
    grid-area: one; 
    }
    .box2 {
    grid-area: three;
    }
    .box3 {
    grid-area: four;
    }
    .box4 {
    grid-area: five;
    }
    .box5 {
    grid-area: eight;
    }
    .box6 {
    grid-area: two;
    }
    .box7 {
        grid-area: six;
    }
    .box8{
        grid-area:seven;
    }

    