* {
  margin: 0;
  box-sizing: border-box;
 }
 body {
  font-family: tahoma;
 }
 .image {
  height: 200px;
  background-size: cover;
  background-position: center;
 }
 .box1 .image {
  background-image: url("https://unsplash.it/300/200?1");
 }
 .box2 .image {
  background-image: url("https://unsplash.it/300/200?2");
 }
 .box3 .image {
  background-image: url("https://unsplash.it/300/200?3");
 }
 .box4 .image {
  background-image: url("https://unsplash.it/500/200?4");
 }
 .box5 .image {
  background-image: url("https://unsplash.it/800/200?5");
 }
 
.container{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    flex: 1 0 25%;

}

.container > *{
    flex-basis: 200px;
    border: 2px solid firebrick;
    flex-grow: 1;

}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row; 
    gap: .5rem;
    flex-wrap: wrap;
    }
    
 ul > * {
    background: lightpink;
    padding: .5rem;
    } 

 .info {
    display: flex;
    flex-direction: column;
    height: 300px;
    padding: 1rem;
    }

.box2 {
  flex-direction: column;
}

.box2 > .info {
  flex-direction: column;
  justify-content: space-evenly;
}

.box3 {
  flex-direction: column;
}

.box3 > .info {
  flex-direction: column;
  align-items: center;
}

.box3 {
  flex-direction: column;
}

.box3 > .info {
  justify-content: flex-end;
}

.box5 {
  flex-direction: column;
}

.box5 > .info {
  flex-direction: column;
  justify-content: flex-end;
}
.box5 {
  flex-direction: column;
}

.box5 > .info {
  justify-content: center;
}

.box4 {
  flex-direction: column;
}

.box4 > .info {
  justify-content: space-between;
}

.box2 ul {
    display: flex;
    justify-content: space-evenly; 
  }
  

  .box4 ul {
    display: flex;
    justify-content: center;
  }
  

  .box1 ul {
    display: flex;
    justify-content: flex-end; 
  }
  
   .box5 ul {
    display: flex;
    justify-content: space-between; 
  }
 
  .box3 ul {
    display: flex;
    justify-content: space-around; 
  }
  

  .box3 ul > * {
    flex-grow: 1; 
  }

  button {
  background-color: firebrick; 
  padding: .5rem; 
  border: none; 
  width: 100%; 
  color: white; 
  }